body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Keskel horisontaalselt */
}

/* Navigation bar */
.navigation-bar {
    background-color: #333; /* Navigeerimisriba taustavärv */
    width: 100%; /* Katab kogu lehe laiuse */
    padding: 10px 0; /* Vertikaalsed vahed */
    display: flex;
    justify-content: space-between; /* Jaotab sisu vasakule ja paremale */
    align-items: center; /* Keskele vertikaalselt */
}

.nav-list {
    display: flex; /* Kasutab Flexboxi, et nupud oleksid joondatud reas */
    list-style-type: none; /* Eemaldab punktid loendi elementidest */
    margin: 0;
    padding: 0;
    justify-content: flex-start; /* Nupud vasakule */
}

.nav-list-right {
    display: flex; /* Kasutab Flexboxi ka parempoolse lingi jaoks */
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* Asetab nupu paremale */
}

.nav-list li, .nav-list-right li {
    margin: 0 15px; /* Nuppude horisontaalne vahe */
}

.nav-link {
    color: white; /* Nuppude teksti värv */
    text-decoration: none; /* Eemaldab allajoonimise */
    padding: 10px 20px; /* Lisaruum lingi vajutamiseks */
    display: block; /* Link klikitav kogu alas */
}

/* Hover-efekt lingile */
.nav-link:hover {
    background-color: #555; /* Taustavärv kui hoverid nuppe */
}

/* Form container styles */
.form-container {
    background-color: #f1f1f1; /* Konteineri väline värv */
    padding: 20px; /* Konteineri vahed */
    border-radius: 10px; /* Curved edge konteineril */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Õrn vari konteinerile */
    margin-top: 20px; /* Gap konteineri ja navigeerimisriba vahel */
}

/* Form styles */
form {
    display: flex;
    flex-direction: column; /* Elemendid vertikaalselt */
    width: 300px; /* Vorm on 300px lai */
    align-items: center; /* Elemendid horisontaalselt keskel */
}

form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Tekstiala laius täidab kogu saadaval oleva ruumi */
    height: 150px; /* Fikseeritud kõrgus tekstialale */
    resize: none; /* Suurust ei saa muuta */
    overflow: auto; /* Tekstiala saab kerida, kui tekst ületab määratud kõrguse */
}

form label {
    margin-top: 10px; /* Lisab vahe ülevalt iga sildi peale */
    width: 100%; /* Silt täidab 100% vormi laiust */
}

form input[type="text"], form textarea, form input[type="file"] {
    margin-top: 5px; /* Vahed igale elemendile */
    padding: 10px; /* Fill, et elemente oleks kenam kasutada */
    font-size: 16px; /* Font suurus elementide aka tekstikastide sees */
    width: 100%; /* Tekst täidab kogu saadava ala */
}

form input[type="text"] + textarea {
    margin-top: 10px; /* Lisab täiendava vahe ainult tekstialale, mis järgneb tekstiväljale */
}

button {
    margin-top: 20px; /* Gap nupu ja kastide vahel */
    padding: 10px; /* Nuppu mugavam vajutada täiendiga */
    background-color: #4CAF50; /* Nupu taustavärv */
    color: white; /* Nupu teksti värv */
    border: none; /* Eemaldab nupu serva */
    cursor: pointer; /* Muudab kursori, kui nuppu hoverida */
    width: 100%; /* Nupp täidab kogu laiuse */
}

button:hover {
    background-color: #45a049; /* Hoveril muutub nupu värv tumedamaks roheliseks */
}

/* Flexbox kohandamine mobiilseadmetel */
@media (max-width: 600px) {
    form {
        width: 90%; /* Mobiilseadmetel vähendab vormi laiuse 90%-ni */
    }

    .nav-list {
        flex-direction: column; /* Mobiilivaates navigeerimisnupud paigutatakse vertikaalselt */
        align-items: flex-start; /* Nupud on joondatud vasakule */
    }
    .nav-list-right {
        margin-top: 10px; /* Login link liigub alla */
        flex-direction: column;
    }
}
